* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.page {
    display: flex;
    flex-direction: row;


}


.sidebar {
    background-image: url("images/background.avif");
    width: 774px;
    height: 1161px;
}